<body class="text-center">

 
    
    <main class="form-signin w-100 m-auto">
        <div [formGroup]="loginFormGroup" class="form-signin">
        <img class="mb-4" src="../../assets/logo.png" alt="" width="144" height="114">
        <h1 class="h3 mb-3 text-light fw-normal">Metrobike  Login</h1>
    
        <div class="form-floating">
          <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        <button class="w-100 btn btn-lg btn-light " style="color:#117AFF" (click)="loginUser(loginFormGroup.value)">Sign in</button>
        <p class="mt-5 mb-3 text-light">&copy; Metrobike 2022</p>
      </div>
    </main>
    
    
        
      </body>